@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "EduVICWANTHandPre";
  src: url("./fonts/EduVICWANTHandPre-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DancingScript";
  src: url("./fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}